/*
Weather dashboard
- Steve Barry -
Media CSS file
*/

@media screen and (max-width:1060px) and (min-width:650px) {

    table{
        width: 33%;
    }
}
@media screen and (max-width:650px) and (min-width:450px) {
    table{
        width: 50%;
    }
}
@media screen and (max-width:450px) {
    table{
        width: 100%;
    }
}